LexikonMvpSoftwareDB/test.dtd

<!ELEMENT dataset (
    LANGUAGES*,
    SEQUENCE*,
    SPECIALTY*,
    TECHNICALTERM*,
    TRANSLATIONS*)>

<!ELEMENT LANGUAGES EMPTY>
<!ATTLIST LANGUAGES
    LANGUAGES_ID CDATA #REQUIRED
    LANGUAGES_NAME CDATA #IMPLIED
>

<!ELEMENT SEQUENCE EMPTY>
<!ATTLIST SEQUENCE
    SEQ_NAME CDATA #REQUIRED
    SEQ_COUNT CDATA #IMPLIED
>

<!ELEMENT SPECIALTY EMPTY>
<!ATTLIST SPECIALTY
    TERM_ID CDATA #REQUIRED
>

<!ELEMENT TECHNICALTERM EMPTY>
<!ATTLIST TECHNICALTERM
    TERM_ID CDATA #REQUIRED
    SPECIALTY_TERM_ID CDATA #IMPLIED
>

<!ELEMENT TRANSLATIONS EMPTY>
<!ATTLIST TRANSLATIONS
    TRANSLATIONS_ID CDATA #REQUIRED
    TRANSLATIONS_DESCRIPTION CDATA #IMPLIED
    TRANSLATIONS_NAME CDATA #IMPLIED
    TERM_TERM_ID CDATA #IMPLIED
    LANGUAGES_LANGUAGES_ID CDATA #IMPLIED
>

